h1 {
    text-align: center;
    color: #6a8d73ff;
}

/* CSS HEX */
/*--russian-green: #6a8d73ff;
--light-goldenrod-yellow: #f4fdd9ff;
--nyanza: #e4ffe1ff;
--blanched-almond: #ffe8c2ff;
--sandy-brown: #f0a868ff;