div h1 {
    padding: 50px;
    margin: 10px;
}

h1 {
    text-align: center;
    color: rgb(34, 52, 39);
}

html {
    height: 100%;
}

body {
    height: auto;
    background-color: rgba(228, 255, 225, 0.738);
}

main {
    padding: 100px;
}

.footer {
    position: fixed;
    height: auto;
}

.navbar{
    background-color: #6a8d73ff;
}


/* CSS HEX */
/*--russian-green: #6a8d73ff;
--light-goldenrod-yellow: #f4fdd9ff;
--nyanza: #e4ffe1ff;
--blanched-almond: #ffe8c2ff;
--sandy-brown: #f0a868ff;