h1 {
    text-align: center;
    color: rgb(34, 52, 39);
}

html {
    height:100%;
    margin:0;
}

body {
    height:100%;
    margin:50px;
    background-color: rgba(228, 255, 225, 0.738);
}

.wrapper {
    min-height:100%;
}

.footer {
    position: relative;
    height: auto;
    width: 100%;
}

.navbar{
    background-color: #6a8d73ff;
}

/*.header {
    height: 50px;
}

/* CSS HEX */
/*--russian-green: #6a8d73ff;
--light-goldenrod-yellow: #f4fdd9ff;
--nyanza: #e4ffe1ff;
--blanched-almond: #ffe8c2ff;
--sandy-brown: #f0a868ff;